<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<br />

<%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Really delete the article?"}%><br />
<%= link_to "edit", edit_post_path(@post) %><br />
<%= link_to "<< Back to Posts List", posts_path %>
